/* utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}
/* fine utility */

.container {
  width: 78%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  /* background-color: green; */
}
/* intestazione */
.logo {
  width: 17%;
  border-right: 1px solid #858585;
  padding-right: 15px;
}

li {
  display: inline-block;
  padding: 30px 5px 0 0;
}

a {
  text-decoration: none;
  /* font-family: 'Montserrat', sans-serif; */
  color: #858585;
}
/* fine intestazione */
/* sezione banner */
.section-1 {
  margin-top: 3%;
  position: relative;
}

.banner{
  display: block;
  width: 100%;
  height: 454px;
  object-fit: cover;
  border-radius: 10px;
}

.section-1::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
}

.article {
  position: absolute;
  width: 54%;
  bottom: 0;
  bottom: 0;
  /* font-family: 'Montserrat', sans-serif; */
  color: white;
  z-index: 1;
  margin-left: 35px;
  margin-bottom: 70px;
}


h2 {
  font-size: 25px;
  font-weight: normal;
}
/* fine sezione banner */
.section-2 {
  margin-top: 3%;
  /* height: 46%; */

}
/* sezione-2 */
/* intestazione */
.intestazione {
  margin-bottom: 1%;
}

.intestazione h2 {
  font-weight: bold;
  font-size: 30px;
}

.intestazione span, .rubrica-content {
  color: #858585;
}
/* fine intestazione */
.left {
  position: relative;
  width: 23%;
  float: left;
}

.riga img {
  object-fit: cover;
  height: 185px;
  display: block;
  width: 100%;
  border-radius: 10px;
}

.wrapper {
  position: relative;
}

.wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
}

.center {
  width: 50%;
  float: left;
  margin: 0 2%;
}

.right {
  width: 23%;
  float: left;
}

.titolo-rubrica {
  font-weight: lighter;
}

footer {
  text-align: center;
}

.hart {
  color: red;
}
