/* utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}
/* fine utility */

.container {
  width: 78%;
  margin: auto;
  /* background-color: green; */
}
/* intestazione */
.logo {
  width: 17%;
  border-right: 1px solid #858585;
  padding-right: 15px;
}

li {
  display: inline-block;
  padding: 30px 5px 0 0;
}

a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #858585;
}
/* fine intestazione */

.section-1 {
  margin-top: 3%;
}

.banner{
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.section-2 {
  margin-top: 3%;
  /* height: 46%; */
  background-color: lightblue;
}

.intestazione {
  background-color: darkblue;
  height: 50px;
  margin-bottom: 1%;
}

.left {
  width: 23%;
  float: left;
  background-color: darkblue;
}

.center {
  width: 50%;
  float: left;
  background-color: darkblue;
  margin: 0 2%;
}

.right {
  width: 23%;
  float: left;
  background-color: darkblue;
}

footer {
  margin-top: 1%;
  background-color: purple;
  height: 5%;
}
